<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>_part.loop</key>
    <string>_part.loop.glif</string>
    <key>aVowel-lao</key>
    <string>aV_owel-lao.glif</string>
    <key>aaVowel-lao</key>
    <string>aaV_owel-lao.glif</string>
    <key>aeVowel-lao</key>
    <string>aeV_owel-lao.glif</string>
    <key>aiMaiMayVowel-lao</key>
    <string>aiM_aiM_ayV_owel-lao.glif</string>
    <key>amVowel-lao</key>
    <string>amV_owel-lao.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>angkhankhu-thai</key>
    <string>angkhankhu-thai.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>ayMaiMuanVowel-lao</key>
    <string>ayM_aiM_uanV_owel-lao.glif</string>
    <key>baht</key>
    <string>baht.glif</string>
    <key>bantoc-khmer</key>
    <string>bantoc-khmer.glif</string>
    <key>bha-lao</key>
    <string>bha-lao.glif</string>
    <key>boBae-lao</key>
    <string>boB_ae-lao.glif</string>
    <key>boBaimai-thai</key>
    <string>boB_aimai-thai.glif</string>
    <key>boBaimai-thai_macronbelowcomb</key>
    <string>boB_aimai-thai_macronbelowcomb.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>cha-lao</key>
    <string>cha-lao.glif</string>
    <key>choChan-thai</key>
    <string>choC_han-thai.glif</string>
    <key>choChan-thai_macronbelowcomb</key>
    <string>choC_han-thai_macronbelowcomb.glif</string>
    <key>choChang-thai</key>
    <string>choC_hang-thai.glif</string>
    <key>choChing-thai</key>
    <string>choC_hing-thai.glif</string>
    <key>choChoe-thai</key>
    <string>choC_hoe-thai.glif</string>
    <key>choChoe-thai_macronbelowcomb</key>
    <string>choC_hoe-thai_macronbelowcomb.glif</string>
    <key>coCok-lao</key>
    <string>coC_ok-lao.glif</string>
    <key>coCok-lao.ss01</key>
    <string>coC_ok-lao.ss01.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>dda-lao</key>
    <string>dda-lao.glif</string>
    <key>ddha-lao</key>
    <string>ddha-lao.glif</string>
    <key>dha-lao</key>
    <string>dha-lao.glif</string>
    <key>doChada-thai</key>
    <string>doC_hada-thai.glif</string>
    <key>doChada-thai.short</key>
    <string>doC_hada-thai.short.glif</string>
    <key>doDek-lao</key>
    <string>doD_ek-lao.glif</string>
    <key>doDek-thai</key>
    <string>doD_ek-thai.glif</string>
    <key>doDek-thai_macronbelowcomb</key>
    <string>doD_ek-thai_macronbelowcomb.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>doublemacroncomb</key>
    <string>doublemacroncomb.glif</string>
    <key>doublemacroncomb.wide</key>
    <string>doublemacroncomb.wide.glif</string>
    <key>eVowel-lao</key>
    <string>eV_owel-lao.glif</string>
    <key>eight-lao</key>
    <string>eight-lao.glif</string>
    <key>eight-lao.sups</key>
    <string>eight-lao.sups.glif</string>
    <key>eight-thai</key>
    <string>eight-thai.glif</string>
    <key>eight-thai.sups</key>
    <string>eight-thai.sups.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>ellipsis-lao</key>
    <string>ellipsis-lao.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>euVowel-lao</key>
    <string>euV_owel-lao.glif</string>
    <key>euVowel-lao.narrow</key>
    <string>euV_owel-lao.narrow.glif</string>
    <key>euVowel-lao.right</key>
    <string>euV_owel-lao.right.glif</string>
    <key>euuVowel-lao</key>
    <string>euuV_owel-lao.glif</string>
    <key>euuVowel-lao.narrow</key>
    <string>euuV_owel-lao.narrow.glif</string>
    <key>euuVowel-lao.right</key>
    <string>euuV_owel-lao.right.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>fanNu-thai</key>
    <string>fanN_u-thai.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>five-lao</key>
    <string>five-lao.glif</string>
    <key>five-lao.sups</key>
    <string>five-lao.sups.glif</string>
    <key>five-thai</key>
    <string>five-thai.glif</string>
    <key>five-thai.sups</key>
    <string>five-thai.sups.glif</string>
    <key>foFa-thai</key>
    <string>foF_a-thai.glif</string>
    <key>foFai-lao</key>
    <string>foF_ai-lao.glif</string>
    <key>foFan-thai</key>
    <string>foF_an-thai.glif</string>
    <key>foFon-lao</key>
    <string>foF_on-lao.glif</string>
    <key>fonThong-thai</key>
    <string>fonT_hong-thai.glif</string>
    <key>fongDan</key>
    <string>fongD_an.glif</string>
    <key>fongman-thai</key>
    <string>fongman-thai.glif</string>
    <key>fongmanFanNu</key>
    <string>fongmanF_anN_u.glif</string>
    <key>four-lao</key>
    <string>four-lao.glif</string>
    <key>four-lao.sups</key>
    <string>four-lao.sups.glif</string>
    <key>four-thai</key>
    <string>four-thai.glif</string>
    <key>four-thai.sups</key>
    <string>four-thai.sups.glif</string>
    <key>gha-lao</key>
    <string>gha-lao.glif</string>
    <key>graphemejoinercomb</key>
    <string>graphemejoinercomb.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hoHaan-lao</key>
    <string>hoH_aan-lao.glif</string>
    <key>hoHeuan-lao</key>
    <string>hoH_euan-lao.glif</string>
    <key>hoHip-thai</key>
    <string>hoH_ip-thai.glif</string>
    <key>hoMo-lao</key>
    <string>hoM_o-lao.glif</string>
    <key>hoNo-lao</key>
    <string>hoN_o-lao.glif</string>
    <key>hoNokhuk-thai</key>
    <string>hoN_okhuk-thai.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>iVowel-lao</key>
    <string>iV_owel-lao.glif</string>
    <key>iVowel-lao.narrow</key>
    <string>iV_owel-lao.narrow.glif</string>
    <key>iVowel-lao.right</key>
    <string>iV_owel-lao.right.glif</string>
    <key>iiVowel-lao</key>
    <string>iiV_owel-lao.glif</string>
    <key>iiVowel-lao.narrow</key>
    <string>iiV_owel-lao.narrow.glif</string>
    <key>iiVowel-lao.right</key>
    <string>iiV_owel-lao.right.glif</string>
    <key>jha-lao</key>
    <string>jha-lao.glif</string>
    <key>karan-lao</key>
    <string>karan-lao.glif</string>
    <key>karan-lao.small</key>
    <string>karan-lao.small.glif</string>
    <key>khan_wisanchani</key>
    <string>khan_wisanchani.glif</string>
    <key>khankhu_wisanchani</key>
    <string>khankhu_wisanchani.glif</string>
    <key>khmuGo-lao</key>
    <string>khmuG_o-lao.glif</string>
    <key>khmuNyo-lao</key>
    <string>khmuN_yo-lao.glif</string>
    <key>khoKhai-lao</key>
    <string>khoK_hai-lao.glif</string>
    <key>khoKhai-thai</key>
    <string>khoK_hai-thai.glif</string>
    <key>khoKhon-thai</key>
    <string>khoK_hon-thai.glif</string>
    <key>khoKhuat-thai</key>
    <string>khoK_huat-thai.glif</string>
    <key>khoKhuay-lao</key>
    <string>khoK_huay-lao.glif</string>
    <key>khoKhwai-thai</key>
    <string>khoK_hwai-thai.glif</string>
    <key>khoRakhang-thai</key>
    <string>khoR_akhang-thai.glif</string>
    <key>khoRakhang-thai_macronbelowcomb</key>
    <string>khoR_akhang-thai_macronbelowcomb.glif</string>
    <key>khomut-thai</key>
    <string>khomut-thai.glif</string>
    <key>khomutReversed</key>
    <string>khomutR_eversed.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>koKai-lao</key>
    <string>koK_ai-lao.glif</string>
    <key>koKai-thai</key>
    <string>koK_ai-thai.glif</string>
    <key>koLa-lao</key>
    <string>koL_a-lao.glif</string>
    <key>lakkhangyao-thai</key>
    <string>lakkhangyao-thai.glif</string>
    <key>lla-lao</key>
    <string>lla-lao.glif</string>
    <key>lla-lao.ss02</key>
    <string>lla-lao.ss02.glif</string>
    <key>loChula-thai</key>
    <string>loC_hula-thai.glif</string>
    <key>loChula-thai.short</key>
    <string>loC_hula-thai.short.glif</string>
    <key>loLing-lao</key>
    <string>loL_ing-lao.glif</string>
    <key>loLing-thai</key>
    <string>loL_ing-thai.glif</string>
    <key>loVowel-lao</key>
    <string>loV_owel-lao.glif</string>
    <key>loVowel-lao.narrow</key>
    <string>loV_owel-lao.narrow.glif</string>
    <key>loVowel_saraU-lao</key>
    <string>loV_owel_saraU_-lao.glif</string>
    <key>loVowel_saraU-lao.narrow</key>
    <string>loV_owel_saraU_-lao.narrow.glif</string>
    <key>loVowel_saraUu-lao</key>
    <string>loV_owel_saraU_u-lao.glif</string>
    <key>loVowel_saraUu-lao.narrow</key>
    <string>loV_owel_saraU_u-lao.narrow.glif</string>
    <key>lu-thai</key>
    <string>lu-thai.glif</string>
    <key>lu_lakkhangyao-thai</key>
    <string>lu_lakkhangyao-thai.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macronbelowcomb.alt</key>
    <string>macronbelowcomb.alt.glif</string>
    <key>maiCatawa-lao</key>
    <string>maiC_atawa-lao.glif</string>
    <key>maiCatawa-lao.narrow</key>
    <string>maiC_atawa-lao.narrow.glif</string>
    <key>maiCatawa-lao.small</key>
    <string>maiC_atawa-lao.small.glif</string>
    <key>maiCatawa-lao.ss03</key>
    <string>maiC_atawa-lao.ss03.glif</string>
    <key>maiChattawa-thai</key>
    <string>maiC_hattawa-thai.glif</string>
    <key>maiChattawa-thai.small</key>
    <string>maiC_hattawa-thai.small.glif</string>
    <key>maiEk-lao</key>
    <string>maiE_k-lao.glif</string>
    <key>maiEk-lao.small</key>
    <string>maiE_k-lao.small.glif</string>
    <key>maiEk-lao.ss03</key>
    <string>maiE_k-lao.ss03.glif</string>
    <key>maiEk-thai</key>
    <string>maiE_k-thai.glif</string>
    <key>maiEk-thai.narrow</key>
    <string>maiE_k-thai.narrow.glif</string>
    <key>maiEk-thai.small</key>
    <string>maiE_k-thai.small.glif</string>
    <key>maiHanaKat-thai</key>
    <string>maiH_anaK_at-thai.glif</string>
    <key>maiHanaKat-thai.narrow</key>
    <string>maiH_anaK_at-thai.narrow.glif</string>
    <key>maiHanaKat_maiTri-thai</key>
    <string>maiH_anaK_at_maiT_ri-thai.glif</string>
    <key>maiHanaKat_maiTri-thai.narrow</key>
    <string>maiH_anaK_at_maiT_ri-thai.narrow.glif</string>
    <key>maiHanaKat_maitaikhu-thai</key>
    <string>maiH_anaK_at_maitaikhu-thai.glif</string>
    <key>maiHanaKat_maitaikhu-thai.narrow</key>
    <string>maiH_anaK_at_maitaikhu-thai.narrow.glif</string>
    <key>maiKanVowel-lao</key>
    <string>maiK_anV_owel-lao.glif</string>
    <key>maiKanVowel-lao.centred</key>
    <string>maiK_anV_owel-lao.centred.glif</string>
    <key>maiKanVowel-lao.narrow</key>
    <string>maiK_anV_owel-lao.narrow.glif</string>
    <key>maiKanVowel-lao.right</key>
    <string>maiK_anV_owel-lao.right.glif</string>
    <key>maiKonVowel-lao</key>
    <string>maiK_onV_owel-lao.glif</string>
    <key>maiKonVowel-lao.centred</key>
    <string>maiK_onV_owel-lao.centred.glif</string>
    <key>maiKonVowel-lao.narrow</key>
    <string>maiK_onV_owel-lao.narrow.glif</string>
    <key>maiKonVowel-lao.right</key>
    <string>maiK_onV_owel-lao.right.glif</string>
    <key>maiTho-lao</key>
    <string>maiT_ho-lao.glif</string>
    <key>maiTho-lao.narrow</key>
    <string>maiT_ho-lao.narrow.glif</string>
    <key>maiTho-lao.small</key>
    <string>maiT_ho-lao.small.glif</string>
    <key>maiTho-lao.ss03</key>
    <string>maiT_ho-lao.ss03.glif</string>
    <key>maiTho-thai</key>
    <string>maiT_ho-thai.glif</string>
    <key>maiTho-thai.extranarrow</key>
    <string>maiT_ho-thai.extranarrow.glif</string>
    <key>maiTho-thai.narrow</key>
    <string>maiT_ho-thai.narrow.glif</string>
    <key>maiTho-thai.small</key>
    <string>maiT_ho-thai.small.glif</string>
    <key>maiTi-lao</key>
    <string>maiT_i-lao.glif</string>
    <key>maiTi-lao.narrow</key>
    <string>maiT_i-lao.narrow.glif</string>
    <key>maiTi-lao.small</key>
    <string>maiT_i-lao.small.glif</string>
    <key>maiTi-lao.ss03</key>
    <string>maiT_i-lao.ss03.glif</string>
    <key>maiTri-thai</key>
    <string>maiT_ri-thai.glif</string>
    <key>maiTri-thai.extranarrow</key>
    <string>maiT_ri-thai.extranarrow.glif</string>
    <key>maiTri-thai.narrow</key>
    <string>maiT_ri-thai.narrow.glif</string>
    <key>maiTri-thai.small</key>
    <string>maiT_ri-thai.small.glif</string>
    <key>maitaikhu-thai</key>
    <string>maitaikhu-thai.glif</string>
    <key>maitaikhu-thai.narrow</key>
    <string>maitaikhu-thai.narrow.glif</string>
    <key>maitaikhu-thai.small</key>
    <string>maitaikhu-thai.small.glif</string>
    <key>maiyamok-thai</key>
    <string>maiyamok-thai.glif</string>
    <key>minusmod</key>
    <string>minusmod.glif</string>
    <key>moMa-lao</key>
    <string>moM_a-lao.glif</string>
    <key>moMa-thai</key>
    <string>moM_a-thai.glif</string>
    <key>moMa-thai_macronbelowcomb</key>
    <string>moM_a-thai_macronbelowcomb.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>muusikatoan-khmer</key>
    <string>muusikatoan-khmer.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ngoNgu-lao</key>
    <string>ngoN_gu-lao.glif</string>
    <key>ngoNgu-lao.short</key>
    <string>ngoN_gu-lao.short.glif</string>
    <key>ngoNgu-thai</key>
    <string>ngoN_gu-thai.glif</string>
    <key>ngoNgu-thai_macronbelowcomb</key>
    <string>ngoN_gu-thai_macronbelowcomb.glif</string>
    <key>niggahita-lao</key>
    <string>niggahita-lao.glif</string>
    <key>niggahita-lao.right</key>
    <string>niggahita-lao.right.glif</string>
    <key>niggahita-lao.small</key>
    <string>niggahita-lao.small.glif</string>
    <key>nikhahit-thai</key>
    <string>nikhahit-thai.glif</string>
    <key>nikhahit-thai.narrow</key>
    <string>nikhahit-thai.narrow.glif</string>
    <key>nikhahit-thai.small</key>
    <string>nikhahit-thai.small.glif</string>
    <key>nine-lao</key>
    <string>nine-lao.glif</string>
    <key>nine-lao.sups</key>
    <string>nine-lao.sups.glif</string>
    <key>nine-thai</key>
    <string>nine-thai.glif</string>
    <key>nine-thai.sups</key>
    <string>nine-thai.sups.glif</string>
    <key>nna-lao</key>
    <string>nna-lao.glif</string>
    <key>noNen-thai</key>
    <string>noN_en-thai.glif</string>
    <key>noNok-lao</key>
    <string>noN_ok-lao.glif</string>
    <key>noNu-thai</key>
    <string>noN_u-thai.glif</string>
    <key>noNu-thai_macronbelowcomb</key>
    <string>noN_u-thai_macronbelowcomb.glif</string>
    <key>nya-lao</key>
    <string>nya-lao.glif</string>
    <key>nyoNyung-lao</key>
    <string>nyoN_yung-lao.glif</string>
    <key>nyoVowel-lao</key>
    <string>nyoV_owel-lao.glif</string>
    <key>oAng-thai</key>
    <string>oA_ng-thai.glif</string>
    <key>oO-lao</key>
    <string>oO_-lao.glif</string>
    <key>oVowel-lao</key>
    <string>oV_owel-lao.glif</string>
    <key>one-lao</key>
    <string>one-lao.glif</string>
    <key>one-lao.sups</key>
    <string>one-lao.sups.glif</string>
    <key>one-thai</key>
    <string>one-thai.glif</string>
    <key>one-thai.sups</key>
    <string>one-thai.sups.glif</string>
    <key>paiyannoi-thai</key>
    <string>paiyannoi-thai.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>phinthu-thai</key>
    <string>phinthu-thai.glif</string>
    <key>phinthu_saraU-thai</key>
    <string>phinthu_saraU_-thai.glif</string>
    <key>phinthu_saraUu-thai</key>
    <string>phinthu_saraU_u-thai.glif</string>
    <key>phoPhan-thai</key>
    <string>phoP_han-thai.glif</string>
    <key>phoPhu-lao</key>
    <string>phoP_hu-lao.glif</string>
    <key>phoPhueng-lao</key>
    <string>phoP_hueng-lao.glif</string>
    <key>phoPhung-thai</key>
    <string>phoP_hung-thai.glif</string>
    <key>phoSamphao-thai</key>
    <string>phoS_amphao-thai.glif</string>
    <key>pikKaa</key>
    <string>pikK_aa.glif</string>
    <key>poPa-lao</key>
    <string>poP_a-lao.glif</string>
    <key>poPla-thai</key>
    <string>poP_la-thai.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>roRot-lao</key>
    <string>roR_ot-lao.glif</string>
    <key>roRua-thai</key>
    <string>roR_ua-thai.glif</string>
    <key>ru-thai</key>
    <string>ru-thai.glif</string>
    <key>ru_lakkhangyao-thai</key>
    <string>ru_lakkhangyao-thai.glif</string>
    <key>saraA-thai</key>
    <string>saraA_-thai.glif</string>
    <key>saraAa-thai</key>
    <string>saraA_a-thai.glif</string>
    <key>saraAa-thai_macronbelowcomb</key>
    <string>saraA_a-thai_macronbelowcomb.glif</string>
    <key>saraAe-thai</key>
    <string>saraA_e-thai.glif</string>
    <key>saraAe-thai_macronbelowcomb</key>
    <string>saraA_e-thai_macronbelowcomb.glif</string>
    <key>saraAiMaimalai-thai</key>
    <string>saraA_iM_aimalai-thai.glif</string>
    <key>saraAiMaimuan-thai</key>
    <string>saraA_iM_aimuan-thai.glif</string>
    <key>saraAm-thai</key>
    <string>saraA_m-thai.glif</string>
    <key>saraE-thai</key>
    <string>saraE_-thai.glif</string>
    <key>saraI-thai</key>
    <string>saraI_-thai.glif</string>
    <key>saraI-thai.narrow</key>
    <string>saraI_-thai.narrow.glif</string>
    <key>saraIi-thai</key>
    <string>saraI_i-thai.glif</string>
    <key>saraIi-thai.narrow</key>
    <string>saraI_i-thai.narrow.glif</string>
    <key>saraO-thai</key>
    <string>saraO_-thai.glif</string>
    <key>saraU-lao.ngoNgu</key>
    <string>saraU_-lao.ngoN_gu.glif</string>
    <key>saraU-thai</key>
    <string>saraU_-thai.glif</string>
    <key>saraU-thai.small</key>
    <string>saraU_-thai.small.glif</string>
    <key>saraUe-thai</key>
    <string>saraU_e-thai.glif</string>
    <key>saraUe-thai.narrow</key>
    <string>saraU_e-thai.narrow.glif</string>
    <key>saraUee-thai</key>
    <string>saraU_ee-thai.glif</string>
    <key>saraUee-thai.narrow</key>
    <string>saraU_ee-thai.narrow.glif</string>
    <key>saraUu-lao.ngoNgu</key>
    <string>saraU_u-lao.ngoN_gu.glif</string>
    <key>saraUu-thai</key>
    <string>saraU_u-thai.glif</string>
    <key>saraUu-thai.small</key>
    <string>saraU_u-thai.small.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven-lao</key>
    <string>seven-lao.glif</string>
    <key>seven-lao.sups</key>
    <string>seven-lao.sups.glif</string>
    <key>seven-thai</key>
    <string>seven-thai.glif</string>
    <key>seven-thai.sups</key>
    <string>seven-thai.sups.glif</string>
    <key>sha-lao</key>
    <string>sha-lao.glif</string>
    <key>six-lao</key>
    <string>six-lao.glif</string>
    <key>six-lao.sups</key>
    <string>six-lao.sups.glif</string>
    <key>six-thai</key>
    <string>six-thai.glif</string>
    <key>six-thai.sups</key>
    <string>six-thai.sups.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>soRusi-thai</key>
    <string>soR_usi-thai.glif</string>
    <key>soSala-thai</key>
    <string>soS_ala-thai.glif</string>
    <key>soSang-lao</key>
    <string>soS_ang-lao.glif</string>
    <key>soSeua-lao</key>
    <string>soS_eua-lao.glif</string>
    <key>soSo-thai</key>
    <string>soS_o-thai.glif</string>
    <key>soSo-thai_macronbelowcomb</key>
    <string>soS_o-thai_macronbelowcomb.glif</string>
    <key>soSua-thai</key>
    <string>soS_ua-thai.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssa-lao</key>
    <string>ssa-lao.glif</string>
    <key>thanthakhat-thai</key>
    <string>thanthakhat-thai.glif</string>
    <key>thanthakhat-thai.narrow</key>
    <string>thanthakhat-thai.narrow.glif</string>
    <key>thanthakhat-thai.small</key>
    <string>thanthakhat-thai.small.glif</string>
    <key>thoNangmontho-thai</key>
    <string>thoN_angmontho-thai.glif</string>
    <key>thoPhuthao-thai</key>
    <string>thoP_huthao-thai.glif</string>
    <key>thoThahan-thai</key>
    <string>thoT_hahan-thai.glif</string>
    <key>thoThan-thai</key>
    <string>thoT_han-thai.glif</string>
    <key>thoThan-thai.less</key>
    <string>thoT_han-thai.less.glif</string>
    <key>thoThong-lao</key>
    <string>thoT_hong-lao.glif</string>
    <key>thoThong-thai</key>
    <string>thoT_hong-thai.glif</string>
    <key>thoThung-lao</key>
    <string>thoT_hung-lao.glif</string>
    <key>thoThung-thai</key>
    <string>thoT_hung-thai.glif</string>
    <key>three-lao</key>
    <string>three-lao.glif</string>
    <key>three-lao.sups</key>
    <string>three-lao.sups.glif</string>
    <key>three-thai</key>
    <string>three-thai.glif</string>
    <key>three-thai.sups</key>
    <string>three-thai.sups.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tinKhru</key>
    <string>tinK_hru.glif</string>
    <key>toPatak-thai</key>
    <string>toP_atak-thai.glif</string>
    <key>toPatak-thai.short</key>
    <string>toP_atak-thai.short.glif</string>
    <key>toTa-lao</key>
    <string>toT_a-lao.glif</string>
    <key>toTao-thai</key>
    <string>toT_ao-thai.glif</string>
    <key>tripleKhan</key>
    <string>tripleK_han.glif</string>
    <key>tripleWisanchani</key>
    <string>tripleW_isanchani.glif</string>
    <key>tta-lao</key>
    <string>tta-lao.glif</string>
    <key>ttha-lao</key>
    <string>ttha-lao.glif</string>
    <key>two-lao</key>
    <string>two-lao.glif</string>
    <key>two-lao.sups</key>
    <string>two-lao.sups.glif</string>
    <key>two-thai</key>
    <string>two-thai.glif</string>
    <key>two-thai.sups</key>
    <string>two-thai.sups.glif</string>
    <key>uVowel-lao</key>
    <string>uV_owel-lao.glif</string>
    <key>uVowel-lao.narrow</key>
    <string>uV_owel-lao.narrow.glif</string>
    <key>uVowel-lao.small</key>
    <string>uV_owel-lao.small.glif</string>
    <key>unalome</key>
    <string>unalome.glif</string>
    <key>uuVowel-lao</key>
    <string>uuV_owel-lao.glif</string>
    <key>uuVowel-lao.narrow</key>
    <string>uuV_owel-lao.narrow.glif</string>
    <key>uuVowel-lao.small</key>
    <string>uuV_owel-lao.small.glif</string>
    <key>virama-lao</key>
    <string>virama-lao.glif</string>
    <key>wheelOfDharma</key>
    <string>wheelO_fD_harma.glif</string>
    <key>woWaen-thai</key>
    <string>woW_aen-thai.glif</string>
    <key>woWi-lao</key>
    <string>woW_i-lao.glif</string>
    <key>wordjoiner</key>
    <string>wordjoiner.glif</string>
    <key>yamakkan-thai</key>
    <string>yamakkan-thai.glif</string>
    <key>yoYa-lao</key>
    <string>yoY_a-lao.glif</string>
    <key>yoYak-thai</key>
    <string>yoY_ak-thai.glif</string>
    <key>yoYak-thai_macronbelowcomb</key>
    <string>yoY_ak-thai_macronbelowcomb.glif</string>
    <key>yoYing-thai</key>
    <string>yoY_ing-thai.glif</string>
    <key>yoYing-thai.less</key>
    <string>yoY_ing-thai.less.glif</string>
    <key>yoYing-thai_macronbelowcomb</key>
    <string>yoY_ing-thai_macronbelowcomb.glif</string>
    <key>zero-lao</key>
    <string>zero-lao.glif</string>
    <key>zero-lao.sups</key>
    <string>zero-lao.sups.glif</string>
    <key>zero-thai</key>
    <string>zero-thai.glif</string>
    <key>zero-thai.sups</key>
    <string>zero-thai.sups.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
  </dict>
</plist>
